body {
  background: url("https://i.postimg.cc/X7VhxChz/Untitled-design-12.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Uni Sans", sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 10px 40px;
  border-bottom: 1px solid #e5e5e5;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  transition: all 0.25s ease;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

header img {
  height: 30px;
}

@media (max-width: 330px) {
  header img {
    display: none;
  }
}

header h1 {
  font-family: "Righteous", cursive;
  font-size: 1.1rem;
  font-weight: 600;
  color: #101920;
  margin-left: 0px;
}

@media (max-width: 600px) {
  h1 {
  }
}

header .user-details span {
  font-family: "Permanent Marker", cursive;
  margin-left: 20px;
  font-size: 1.2rem;
  color: #828282;
  padding: 0 15px 10px 15px;
}

header .user-details span:hover {
  color: #101920;
  border-bottom: 2px solid #101920;
  cursor: pointer;
}

nav {
  padding: 15px 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 600px) {
  nav ul {
    margin: unset;
    display: unset;
    position: relative;
    right: 30px;
  }
}

nav li {
  list-style-type: none;
}

nav li a {
  margin: 0 15px;
  padding: 10px 5px 15px 5px;
  color: #828282;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
}

nav li a:hover {
  color: #eb0028;
  border-bottom: 2px solid #eb0028;
}

nav button {
  border: none;
  box-shadow: none;

  min-width: 110px;
  height: 50px;
  background: #eb0028;
  color: white;
  font-size: 0.9rem;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}
nav button span {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background: #ce0024;
  height: 100%;
  z-index: -1;

  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

nav button:hover {
  cursor: pointer;
}

@keyframes buttonEffect {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes buttonEffectRemoval {
  0% {
    width: 100%;
  }
  100% {
    width: 0px;
  }
}

@media (max-width: 1000px) {
  nav li a {
    padding-bottom: 0px;
  }
}

.page-wrap {
  margin-top: 5vh;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #674caf;
}

#home-slider {
  height: 80vh;
  width: 90vw;
  position: relative;
}
.swiper-container {
  height: 100%;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.swiper-image-one {
  background-image: url(https://i.postimg.cc/N03Jq90m/wallpaperflare-com-wallpaper-10.jpg);
}

.swiper-image-two {
  background-image: url(https://i.postimg.cc/zBTdJzLM/wallpaperflare-com-wallpaper-9.jpg);
}

.swiper-image-three {
  background-image: url(https://i.postimg.cc/rsJQrfNN/wallpaperflare-com-wallpaper-5.jpg);
}

.swiper-image-four {
  background-image: url(https://i.postimg.cc/bNmmYFJz/wallpaperflare-com-wallpaper-6.jpg);
}

.swiper-image-five {
  background-image: url(https://i.postimg.cc/pXW0HtPG/wallpaperflare-com-wallpaper-7.jpg);
}

.swiper-image-six {
  background-image: url(https://i.postimg.cc/wMHwMCLB/wallpaperflare-com-wallpaper-8.jpg);
}

.swiper-image {
  width: 50%;
  height: 100%;
}
.swiper-image-inner {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
  background-blend-mode: overlay;
}
.swiper-image-inner.swiper-image-left {
  padding: 4rem;
}
.swiper-image-left {
  transition: all 1s linear;
  transition-delay: 1s;
}
.swiper-slide.swiper-slide-active .swiper-image-left {
  filter: sepia(0%);
}
.swiper-image-inner.swiper-image-right {
  transition: all 1s linear;
  transition-delay: 1s;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: multiply;
}
.page-wrap h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  color: #fff;
  align-self: flex-start;
  margin: 0 0 auto 0;
  font-size: 4.5rem;
  line-height: 1;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.1s;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
.page-wrap h1 span.emphasis {
  font-weight: 700;
  font-style: italic;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
  transform: translate3d(-20%, 0, 0);
  display: inline-block;
}
.page-wrap h1 span:not(.emphasis) {
  font-size: 3.5rem;
}
.page-wrap h1 + p {
  font-family: "Cormorand SC";
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1;
  margin-bottom: auto;
  align-self: flex-end;
  text-transform: uppercase;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
  font-weight: 500;
  color: #fff;
  padding-right: 8rem;
}
p.paragraph {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  color: #fff;
  width: 100%;
  max-width: 350px;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
  transform: translate3d(-20%, 0, 0);
}

.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-active p.paragraph,
.swiper-slide.swiper-slide-active h1 span.emphasis,
.swiper-slide.swiper-slide-active h1 + p {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .page-wrap h1 {
    font-size: 3.9rem;
  }
  .page-wrap h1 span:not(.emphasis) {
    font-size: 2.9rem;
  }
  .page-wrap h1 + p {
    font-size: 13px;
  }
  p.paragraph {
    font-size: 1rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 960px) {
  .page-wrap h1 {
    font-size: 3.5rem;
  }
  .page-wrap h1 span:not(.emphasis) {
    font-size: 2.5rem;
  }
  p.paragraph {
    max-width: 90%;
  }
}
@media screen and (max-width: 640px) {
  #home-slider {
    height: 86vh;
    width: 96vw;
  }
  .page-wrap h1 {
    font-size: 3.2rem;
    align-self: center;
  }
  .page-wrap h1 span:not(.emphasis) {
    font-size: 2.1rem;
  }
  p.paragraph {
    max-width: 94%;
  }
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;

  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-wp8-horizontal {
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  touch-action: pan-x;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: #fff;
  opacity: 0.4;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 15px;
  bottom: 15px;
}
.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 5px;
}
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-container-rtl
  .swiper-pagination-progress
  .swiper-pagination-progressbar {
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-progress.swiper-pagination-white
  .swiper-pagination-progressbar {
  background: #fff;
}
.swiper-pagination-progress.swiper-pagination-black
  .swiper-pagination-progressbar {
  background: #000;
}

.swiper-container-3d {
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px;
}

.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: blur(50px);
  z-index: 0;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

main {
  text-align: center;
}

.container h1 {
  color: #fff;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.container h1:after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  bottom: -8px;
  background: transparent;
  transition: 500ms all ease-in-out;
}

a.cta {
  display: block;
  position: absolute;
  height: 50px;
  line-height: 50px;
  width: 120px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  border: 2px solid #fff;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
a.cta:before {
  content: "";
  background: #fff;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 300ms all ease-in-out;
}
a.cta:hover:before {
  height: 4px;
}

.container {
  background: #09f;
  width: 100vw;
  height: 100vh;
  position: relative;
  box-shadow: 0 16px 18px rgb(0 0 0 / 0.2);
}
.container .one-half {
  position: absolute;
  width: 50vw;
  height: 100vh;

  overflow: hidden;
}
.container .one-half.left {
  left: 0;
  background: url("https://i.postimg.cc/T1P8cnJt/pexels-vincent-gerbouin-1174732.jpg")
    center center no-repeat;
  background-size: cover;
}
.container .one-half.left:before {
  content: "";
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffd41690;
  position: absolute;
}
.container .one-half.right {
  right: 0;
  background: url("https://i.postimg.cc/HsVDc4xx/pexels-yaroslav-shuraev-1553963.jpg")
    center center no-repeat;
  background-size: cover;
}
.container .one-half.right:before {
  content: "";
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #0091ca97;
  position: absolute;
}
.container .one-half.left,
.container .one-half.right {
  transition: 500ms all ease-in-out;
}
.container .one-half.left:before,
.container .one-half.right:before {
  transition: 500ms all ease-in-out;
}
.container.left-is-hovered .left {
  width: 85%;
}
.container.left-is-hovered .left h1:after {
  width: 100%;
}
.container.left-is-hovered .right {
  width: 15%;
}
.container.left-is-hovered .right:before {
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}
.container.right-is-hovered .right {
  width: 85%;
}
.container.right-is-hovered .right h1:after {
  width: 100%;
}
.container.right-is-hovered .left {
  width: 15%;
}
.container.right-is-hovered .left:before {
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

.block {
  padding: 50px;
  padding-top: 50px;
}

@media (max-width: 780px) {
  .block:not(.one):not(.two) {
    text-align: left;
  }
  .d4 {
    text-align: center;
  }
}

.d1:nth-of-type(odd),
.d2:nth-of-type(odd) {
  background: #e8d5b5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.d1:nth-of-type(even),
.d2:nth-of-type(even) {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.d1 {
  font-family: "Carter One", cursive;
  font-size: 1.5rem;
  font-weight: 700;
}

.d2 {
  font-family: "Concert One", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  padding: -20px;
  margin: 0;
}

.d3 {
  font-family: "Patrick Hand", cursive;
  font-size: 1.6rem;
  color: #ffffff;
}

.d4 {
  margin: 40px auto;
  width: 135px;
  font-size: 1.3rem;
  padding: 0 10px;
  border-bottom: 2px solid #101920;
  transition: 0.2s all ease-in;
  position: relative;
  z-index: 2;
}

.d4:hover {
  width: 150px;
  color: #eb0028;
  padding: 0 10px;
  border-bottom: 2px solid #eb0028;
}

.one .d2:first-child {
  margin-top: 100px;
  padding-bottom: 0;
  font-size: 3.5rem;
  font-weight: 400;
  -webkit-text-fill-color: black;
}

.one .d2:nth-child(2) {
  font-size: 4rem;
  font-weight: 600;
  -webkit-text-fill-color: black;
}

.one .d3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 10vh;
}

main > img {
  display: block;
}

img[alt="phone1"] {
  width: 100%;
  margin-top: -50vh;
  margin-bottom: 15vh;
}

.two {
  position: relative;
  top: -20vh;
  padding: 0;
  display: flex;
  height: 65vh;
  transform-origin: left;
  transform: skewY(-3.5deg);
  overflow: hidden;
}

.two h1 {
  font-size: 100px;
  color: white;
  transition: all 0.5s ease;
}

.two .fa-play:hover {
}

.two > button > img {
  width: 50vw;
  visibility: hidden;
}

.two button {
  border: none;
  box-shadow: none;

  transform: skewY(3.5deg);
  transform-origin: right;
  height: 100vh;
  transition: all 0.5s ease;
}

.two > button:first-child {
  background: url("https://i.postimg.cc/434JkSLS/pexels-jaime-reimer-2662116.jpg");
  background-size: 50vw;
  background-position: left 5vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.two > button:last-child {
  background: url("https://i.postimg.cc/FzSvV5z7/pexels-stein-egil-liland-1933316.jpg");
  background-size: 50vw;
  background-position: right 5vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.two button:hover {
  background-blend-mode: hard-light;
  cursor: pointer;
}

.two button:first-child:hover {
  background-color: #8974c2;
}

.two button:last-child:hover {
  background-color: #c6b27b;
}

@media (max-width: 900px) {
  .two > button:first-child,
  .two > button:last-child {
    background-size: 80vw;
  }
}

@media (max-width: 500px) {
  .two > button:first-child,
  .two > button:last-child {
    background-size: 130vw;
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  min-height: 750px;
  position: relative;
  overflow: hidden;
  display: flex;
}

/*전체화면*/
.content {
  height: 600px;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  display: flex;
  align-items: center;
  position: relative;
}

/*background logo*/
.bg-shape {
  height: 100%;
  background-image: linear-gradient(-45deg, #cc3843 0%, #cb193f 100%);
  box-shadow: 0px 30px 139px 0px rgba(10, 22, 31, 0.26);
  border-radius: 30px;
  padding: 45px 40px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.bg-shape img {
  object-fit: contain;
  width: 510px;
  display: block;
  object-position: left center;
  opacity: 0.2;
  transform: rotate(-90deg) translateY(-50%);
  max-width: inherit;
  left: 10px;
  position: absolute;
}

/*slidebutton*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.next,
.prev {
  z-index: 22;
  display: inline-flex;
  border: none;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  outline: none;
  cursor: pointer;
}
.next.disabled,
.prev.disabled {
  cursor: not-allowed;
}
.next:focus,
.prev:focus {
  outline: none;
}

.prev {
  left: -30%;
  background-color: white;
  transform: translate(-100%, -50%);
}

.next {
  right: 0;
  background-color: white;
  transform: translate(50%, -50%);
}

.product-slider {
  width: 75%;
  height: 85%;
  border-radius: 30px;
  box-shadow: 0 28px 79px 0 rgba(10, 22, 31, 0.35);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.product-slider__wrp {
  height: 100%;
}
.product-slider__item {
  position: relative;
  height: 100%;
  background-color: transparent;
  width: 100%;
}

/*swiper-slide에 속성 부여 및 각자에게 딜레이 부여*/
.product-slider__item.swiper-slide-active .product-slider__content > * {
  opacity: 1;
  transform: none;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(1) {
  transition-delay: 0s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(2) {
  transition-delay: 0.2s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(3) {
  transition-delay: 0.4s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(4) {
  transition-delay: 0.6s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(5) {
  transition-delay: 0.8s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(6) {
  transition-delay: 1s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(7) {
  transition-delay: 1.2s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(8) {
  transition-delay: 1.4s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(9) {
  transition-delay: 1.6s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(10) {
  transition-delay: 1.8s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(11) {
  transition-delay: 2s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(12) {
  transition-delay: 2.2s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(13) {
  transition-delay: 2.4s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(14) {
  transition-delay: 2.6s;
}
.product-slider__item.swiper-slide-active
  .product-slider__content
  > *:nth-child(15) {
  transition-delay: 2.8s;
}
.product-slider__item.swiper-slide-active circle {
  animation: progress 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0.75;
}
/*keyframe : progress*/
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.product-slider__card {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  background-color: black;
}

.product-slider__cover {
  border-radius: 30px;
  position: absolute;
  top: 0;
  background-color: transparent;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.product-slider__content {
  color: #fff;
  padding-top: 1px;
  position: relative;
  z-index: 2;
  width: 100%;
  padding-left: 250px;
  padding-right: 80px;
}

.product-slider__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 41px;
  line-height: 1.2em;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}

.product-slider__price {
  display: block;
  font-size: 42px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}

.product-slider__price sup {
  top: -20px;
  font-size: 65%;
}
.product-slider__cart {
  box-shadow: 0 7px 99px 0 rgba(204, 51, 66, 0.6);
  background-image: linear-gradient(-45deg, #cc3843 0%, #cb193f 100%);
  border: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  min-height: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 40px;
  cursor: pointer;
}

.product-slider__fav {
  color: #888e94;
  background: none;
  border: none;
  position: relative;
  padding-left: 25px;
  outline: none;
  cursor: pointer;
}
.product-slider__fav:focus {
  outline: none;
}
.product-slider__fav .heart {
  display: block;
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%) scale(0.7);
  top: 50%;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background: url("https://res.cloudinary.com/muhammederdem/image/upload/v1536405215/starwars/heart.png")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.product-slider__fav .heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
.product-slider__bottom {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}
.product-ctr {
  display: flex;
  align-items: center;
  min-height: 150px;
  margin-top: 40px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}

.product-ctr .hr-vertical {
  width: 1px;
  background: #9fa3a7;
  align-self: stretch;
  margin: 0 35px;
  flex-shrink: 0;
  opacity: 0.5;
}

.product-labels__checkbox {
  display: none;
}
.product-labels__checkbox:checked + .product-labels__txt {
  border-color: #cc3743;
  padding: 10px 13px;
}
.product-labels__title {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 16px;
  margin-bottom: 10px;
}
.product-labels__group {
  display: flex;
  margin-bottom: 15px;
}

.product-labels__group:last-child {
  margin-bottom: 0;
}
.product-labels__item {
  margin: 5px;
  cursor: pointer;
}
.product-labels__item:first-child {
  margin-left: 0;
}
.product-labels__txt {
  display: block;
  border: 2px solid transparent;
  font-size: 14px;
  padding: 10px 20px;
  padding-left: 0;
  border-radius: 50px;
  transition: all 0.3s;
  letter-spacing: 2px;
}
.product-inf {
  text-align: center;
}
.product-inf__percent {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-family: "Dosis", sans-serif;
  position: relative;
}
.product-inf__percent circle {
  transform: rotate(180deg) scaleY(-1);
  transform-origin: 50%;
}
.product-inf__percent-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-inf__title {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
}
.product-img {
  position: absolute;
  z-index: 2;
  width: 500px;
  left: 25%;
  transform: translateX(-45%);
  max-height: 500px;
  height: 100%;
  pointer-events: none;
}

.product-img__item {
  display: flex;
  align-items: center;
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(-130px);
  opacity: 0;
  transition: all 0.3s;
}
.product-img__item.active {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
  transition-delay: 0.3s;
}
.product-img__item img {
  object-fit: contain;
  object-position: center right;
}

/*social(개인정보)*/
.social {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  display: flex;
  padding: 20px 55px;
  justify-content: space-between;
}
.social__item {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1em;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.social__item:hover {
  color: #fff;
}
.social__img {
  width: 24px;
  margin-right: 15px;
}

/*media query*/
@media screen and (max-width: 1200px) {
  .bg-shape {
    width: 45%;
  }
  .bg-shape img {
    width: 430px;
    left: 10px;
  }
  .content {
    max-width: 920px;
  }
  .prev {
    left: -21%;
  }
  .product-slider {
    width: 80%;
  }
  .product-slider__content {
    padding-left: 220px;
  }
  .product-slider__title {
    font-size: 34px;
  }
  .product-slider__price {
    font-size: 36px;
  }
  .product-img {
    width: 430px;
    left: 20%;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
  }
  .bg-shape {
    width: 90%;
    height: 290px;
    left: 50%;
    padding: 50px;
    transform: translateX(-50%);
    align-items: flex-start;
  }
  .bg-shape img {
    position: relative;
    left: auto;
    width: 100%;
    height: 100%;
    transform: none;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    object-position: top center;
  }
  .content {
    max-width: 920px;
    margin-top: 100px;
    height: auto;
    min-height: 100vh;
  }
  .next,
  .prev {
    top: 170px;
  }
  .prev {
    left: 0;
    transform: translate(-50%, -50%);
  }
  .product-slider {
    position: relative;
    top: 0;
    left: 50%;
    width: 80%;
    height: auto;
    margin-top: 170px;
    margin-bottom: 100px;
    transform: translateX(-50%);
  }
  .product-slider br {
    display: none;
  }
  .product-slider__item {
    height: auto;
  }
  .product-slider__card {
    align-items: flex-start;
  }
  .product-slider__content {
    padding: 20px 60px 100px;
    padding-top: 280px;
    text-align: center;
  }
  .product-ctr {
    justify-content: center;
  }
  .product-labels__group {
    justify-content: center;
  }
  .product-img {
    width: 430px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 350px;
  }
}
@media screen and (max-width: 767px) {
  .bg-shape {
    padding: 30px;
    width: 95%;
    border-radius: 20px;
  }
  .content {
    margin-top: 20px;
  }
  .product-slider {
    border-radius: 20px;
  }
  .product-slider__card {
    border-radius: 20px;
  }
  .product-slider__cover {
    border-radius: 20px;
  }
  .product-slider__content {
    padding: 20px 30px 50px;
    padding-top: 300px;
  }
  .product-slider__cart {
    margin-right: 30px;
  }
  .product-ctr {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .product-ctr .hr-vertical {
    width: 100%;
    margin: 35px 0;
    height: 1px;
  }
  .product-labels {
    width: 100%;
  }
  .product-inf {
    width: 100%;
  }
  .product-img {
    width: 100%;
    max-width: 400px;
    top: 30px;
    height: 390px;
  }
}
@media screen and (max-width: 576px) {
  .bg-shape {
    height: 200px;
    padding: 30px;
  }
  .content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .prev {
    transform: translate(20%, -50%);
  }
  .next {
    transform: translate(-20%, -50%);
  }
  .product-slider {
    width: 85%;
    margin-top: 130px;
  }
  .product-slider__content {
    padding: 220px 15px 0 15px;
  }
  .product-slider__title {
    font-size: 24px;
  }
  .product-slider__price {
    font-size: 30px;
  }
  .product-slider__cart {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .product-img {
    max-width: 300px;
    height: 300px;
  }
  .social {
    flex-direction: column;
    bottom: 0;
  }
  .social__item {
    margin-bottom: 10px;
  }
}
#modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  transition: all 0.5s ease;
  opacity: 0;
  display: none;
}

#modal span {
  font-size: 40px;
  color: white;
  float: right;
  padding: 10px 20px 0 20px;
  display: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

#modal span:hover {
  color: #eb0028;
}

#modal .video-wrapper {
  clear: right;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  display: none;
}

#modal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  margin-left: 15vw;
}

img[alt="phone3"] {
  width: 80%;
  box-shadow: 0 6px 20px 20px rgb(0 0 0 / 0.2);
}

#block5 img[alt="phone5"],
#block6 img[alt="phone6"],
#block8 img[alt="phone8"],
#block9 img[alt="phone9"] {
  width: 50%;
  visibility: hidden;
  height: 120vh;
}

#block4 {
  background: url("https://i.postimg.cc/4y6wP51t/Untitled-design.gif");
  background-size: 80vh;
  background-attachment: scroll;
  background-position: center 25vh;
  z-index: 1;
  box-shadow: 0 6px 20px 20px rgb(0 0 0 / 0.2);
}

.line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}
.game-section {
  padding: 60px 50px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.item h3 {
  font-size: 2rem;
  font-family: "Righteous", cursive;
}
.item p {
  font-family: "Carter One", cursive;
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .line-title {
    width: 330px;
  }

  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .line-title {
    width: 250px;
  }

  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

#block5 {
  background: url("https://i.postimg.cc/4xgyj1Qy/pngwing-com-7.png");
  background-size: 80vh;
  background-attachment: scroll;
  background-position: center 25vh;
  z-index: 1;
  box-shadow: 0 6px 20px 20px rgb(0 0 0 / 0.2);
}

#block6 {
  background: url("https://i.postimg.cc/5NpDM4wz/jeshoots-com-m-SESwd-MZr-A-unsplash.jpg");
  background-size: 100vw;
  background-attachment: fixed;
  background-position-y: -10vh;
}

#block8 {
  background: url("https://i.postimg.cc/1thrjY5X/duy-pham-Cecb0-8-Hx-o-unsplash.jpg");
  background-size: 120vw;
  background-attachment: fixed;
  background-position: center;
}

#block9 {
  background: url("https://i.postimg.cc/Y0tfpGFw/javier-allegue-barros-i5-Kx0-P8-A0d4-unsplash.jpg");
  background-size: 100vw;
  background-attachment: scroll;
  background-position: center;
  margin-bottom: 20vh;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 0.2);
}

#block4,
#block5,
#block6,
#block8,
#block9 {
  background-color: #674caf;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 768px) {
  #block9 {
    background-size: 200vw;
  }
}

@media (max-width: 425px) {
  #block4,
  #block5 {
    background-size: 50vw;
  }
  #block6 {
    background-size: 170vw;
  }
  #block8 {
    background-size: 230vw;
  }
}

@media (max-width: 375px) {
  #block9 img[src="https://i.postimg.cc/Y0tfpGFw/javier-allegue-barros-i5-Kx0-P8-A0d4-unsplash.jpg"]
  {
    height: 100vh;
  }
}

#block4:before,
#block4:after,
#block5:before,
#block5:after,
#block6:before,
#block6:after,
#block8:before,
#block8:after,
#block9:before {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 15vh;
  background: transparent;
  transform: skewY(-3.5deg);
}

#block4:before,
#block5:before,
#block6:before,
#block8:before,
#block9:before {
  top: 0;
  transform-origin: bottom left;
}

#block4:after,
#block5:after,
#block6:after,
#block8:after {
  bottom: 0;
  transform-origin: top right;
}

#block7 {
  margin: 15vh auto;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  flex-direction: wrap;
}

#block7 img {
  position: relative;
  max-width: 30%;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 0.2);
}

#block7 img:nth-of-type(1) {
  margin-top: 260px;
}

#block7 img:nth-of-type(2) {
  margin-top: 160px;
}

#block7 img:nth-of-type(3) {
  margin-top: 60px;
}

.block:not(.two) {
  position: relative;
  top: -45px;
  z-index: 2;

  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  visibility: hidden;
}

#block7 img {
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  visibility: hidden;
}

#block7 img:nth-child(1) {
  animation-delay: 200ms;
  animation-duration: 800ms;
}

#block7 img:nth-child(2) {
  animation-delay: 100ms;
  animation-duration: 900ms;
}

#block7 img:nth-child(3) {
  animation-delay: 0;
  animation-duration: 1000ms;
}

@keyframes fade-in-a {
  0% {
    top: 35px;
    opacity: 0.1;
  }
  100% {
    visibility: unset;
    top: 0px;
    opacity: 1;
  }
}

#block4,
#block5 {
  animation-duration: 1s;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  visibility: hidden;
}

@keyframes fade-in-b {
  0% {
    background-position: center 35vh;
    opacity: 0.1;
  }
  100% {
    visibility: unset;
    background-position: center 25vh;
    opacity: 1;
  }
}

footer {
  border-top: 2px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  color: #828282;
  justify-content: space-between;
  margin: 5vh 0;
}

.contact,
.bottom {
  width: 100%;
  padding: 40px 20px 0 20px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.contact p,
.contact button {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.contact p {
  margin-bottom: 20px;
}

.contact form,
.contact .social-media {
  flex: 1 400px;
  margin-bottom: 40px;
}

.contact input[type="email"] {
  width: 250px;
  height: 40px;
  font-size: 1rem;
  text-indent: 5px;
  box-shadow: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.contact button {
  width: 110px;
  height: 40px;
  font-size: 0.9rem;
  background-color: #00c4ed;
  color: white;
  transition: all 0.3s ease;
  border: 0;
  outline: none;
  box-shadow: none;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}

.contact button span {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background: #00a7ca;
  height: 100%;
  z-index: -1;

  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.contact button:hover {
  cursor: pointer;
}

@media (max-width: 425px) {
  .contact button {
    margin-top: 10px;
  }
}

.contact .social-media i {
  font-size: 2rem;
  padding: 0px 20px;
  color: #828282;
  transition: all 0.3s ease;
}

.contact .social-media i:hover {
  color: #eb0028;
  cursor: pointer;
}

.bottom {
  background-color: #f9f9f9;
}

.bottom .phone-number {
  color: #49b5d9;
}

.bottom p {
  padding: 10px 0;
}

.bottom p:first-of-type {
  float: left;
}

.bottom p:last-of-type {
  float: right;
}

.bottom hr {
  clear: both;
  margin: 20px 0;
  border-top: 1px solid #e5e5e5;
}

@media (max-width: 768px) {
  .bottom p:first-of-type,
  .bottom p:last-of-type {
    float: initial;
  }
}

.bottom > span,
.bottom > a {
  font-size: 0.8rem;
  margin-right: 20px;
}

img[alt="link to my github"] {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  margin: 20px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

img[alt="link to my github"]:hover {
  opacity: 1;
}
